*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Andada Pro', serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background: #101010;
    background-position: center;
    background-size: cover;
    position: relative;
    
    
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #F5F5F5;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #f4771e;
  transition: .5s;
}

.one{
  color: #F5F5F5;}

.text-box1 h1{
    font-size: 17px;
     color: #f4771e;
     padding-top: 20px; 
    padding-left: 7px;
}
.text-box2 h1{
     font-size: 40px;
     color: #f4771e;
     width: 90%;
     margin: auto;
     text-align: center;
     padding-top: 190px;
}
.text-box2 p {
 text-align: center;
    margin: auto;
    color: aliceblue;
    width: 12%;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 1.5s steps(17,end), blink 0.5s infinite;
}
@keyframes typing {
  0% { width:0% }
  50% { width:12% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #f4771e;
  }
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1.5px solid #f4771e;
    padding: 10px 19px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    margin-top: 40px;
    top: 70%;
}
.wrapper {
  text-align: center;
    
}
.hero-btn:hover{
    border: 1px solid #f4771e;
    backface-visibility: #f4771e;
    transition: 1s
}
@media(max-width:700px){
    .text-box2 h1{
        font-size: 20px;
         padding-top: 150px;
    }
     .text-box1 h1{
        font-size: 12px;
    }
    .text-box2 p{
        font-size: 12px;
        width: 120px;
    }
}
.checkbtn{
  font-size: 30px;
  color: #F5F5F5;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #101010;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #f4771e;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background-size: cover;
  height: calc(100vh - 60px);
}

/* about me*/

.about-me{
    padding-top: 200px;
    font-family: cursive;
}
.about{
    color: aliceblue;
}
.about-me h1{
    color: #f4771e;
    padding-left: 50px;

}
.brackts{
    color: aliceblue;
}
.about-me p{
    padding-top: 30px;
    color: aliceblue;
    font-size: 15px;
     padding-left: 50px;
}
.part2{
    color: aliceblue;
    font-size: 25px; 
padding-left: 5px;
}
footer{
	background-color: #101010;
	padding: 8px;
    color: aliceblue;
	text-align: center;
    font-size: 8px;
}


/* Blog content*/
.header-blog{
    height: 90px;
    width: 100%;
    background: #101010;
    background-position: center;
    background-size: cover;
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 18em;
  width: 20em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}


/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  

}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.email {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}


.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
@media (max-width: 952px){
    .icon-bar a{
          padding: 3px;

    }
}

